// language=JSX Harmony

class PostsThread extends React.Component {
    constructor(props) {
        super(props);

        this.state = {
            data: [],
            adding_post: false
        };
    }

    addNewPost(post) {
        post['user'] = this.props.current_user
        this.setState((prevState) => {
            return {
                data: [post].concat(prevState.data),
                adding_post: false
            };
        });
    }

    viewNewPostModal() {
        this.setState({adding_post: true});
    }

    closeNewPostModal() {
        this.setState({adding_post: false});
    }

    componentDidMount() {
        fetch('/posts?course_id=' + this.props.course_id)
            .then(response => response.json())
            .then(data => this.setState({data}));
    }

    render() {
        const current_user = this.props.current_user
        if (this.state.data.length > 0) {
            return (
                <div className="container corso-thread">
                    <div className="posts-list" id="style-1">
                        {
                            this.state.data.map(function (post) {
                                return <Post key={post.id} post={post} current_user={current_user}></Post>
                            })
                        }
                    </div>

                    <figure className="media-left add-post" onClick={this.viewNewPostModal.bind(this)}>
                        <p className="image is-64x64">
                            <%= image_tag "add_post.png" %>
                        </p>
                    </figure>

                    <div className={ "modal " + (this.state.adding_post ? "is-active" : "") }>
                        <div className="modal-background" onClick={this.closeNewPostModal.bind(this)}></div>
                        <div className="modal-content">

                            <NewPost addNewPost={this.addNewPost.bind(this)}/>

                        </div>
                        <button className="modal-close is-large" aria-label="close" onClick={this.closeNewPostModal.bind(this)}></button>
                    </div>

                </div>
            );
        }

        return (<div className="pageloader"><span className="title">Loading</span></div>);
    }
}