<div class="dropdown is-hoverable is-right column is-narrow">
  <div class="dropdown-trigger">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path fill="#000000" d="M12,16A2,2 0 0,1 14,18A2,2 0 0,1 12,20A2,2 0 0,1 10,18A2,2 0 0,1 12,16M12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12A2,2 0 0,1 12,10M12,4A2,2 0 0,1 14,6A2,2 0 0,1 12,8A2,2 0 0,1 10,6A2,2 0 0,1 12,4Z" />
    </svg>

  </div>
  <div class="dropdown-menu" id="dropdown-menu3" role="menu">
    <div class="dropdown-content">
      <%= link_to 'Edit', edit_post_path(post), class: "dropdown-item" %>
      <%= link_to 'Back', posts_path, class: "dropdown-item" %>
      <%= link_to 'Show', post, class: "dropdown-item" %>
      <hr class="dropdown-divider">
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?'}, class: "dropdown-item" %>
    </div>
  </div>
</div>