<% content_for :title, "Theses" %>

<html>

<body class="drawer drawer--left">
<noscript>
  You need to enable JavaScript to run this app.
</noscript>

<header role="banner">
  <button type="button" class="drawer-toggle drawer-hamburger top-gap">
    <span class="sr-only">toggle navigation</span>
    <span class="drawer-hamburger-icon"></span>
  </button>
  <nav class="drawer-nav top-gap" role="navigation">
    <ul class="drawer-menu top-gap">
      <%= react_component 'SearchTheses', current_user: @current_user, per_page: @per_page%>
    </ul>
  </nav>
</header>
<main role="main">
  <br/>

  <section class="hero is-info is-bold is-small bottom-gap">
    <div class="hero-body left-gap">
      <div class="container left-gap" >
        <h2 class="title" >
          Qui tutte le tesi disponibili
        </h2>
        <h3 class="subtitle">
          <lo>
            <li>Per trovare più facilmente la testi che fa per te, prova ad effettuare una ricerca per tag :-)</li>
            <li>Puoi anche inviare una email al prof per chiedergli più informazioni!</li>
          </lo>
        </h3>
      </div>
    </div>
  </section>




  <div class="myColumn-lg">
    <div class="row">
      <%= react_component 'IndexTheses',  last_page: @last_page, url: "/theses.json?page=",
                          current_user_image: @current_user_image, per_page: @per_page%>
    </div>
  </div>

</main>



<script>
    $(document).ready(function() {
        $('.drawer').drawer();
    });
</script>

</body>



</html>