<% content_for :title, "Gestisci corsi collegati al CdL" %>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%=  @degree.name %>
      </h1>
      <h2 class="subtitle">
        In questa pagina puoi gestire i corsi collegati al Corso di Laurea in <%=  @degree.name %>.
      </h2>
    </div>
  </div>
</section>
<br>

<div class="columns">
  <div class="column">
    <button class="button is-info" style="border-radius: 50px;" onclick="showInsert();">Inserisci nuovo CdL</button>
  </div>
  <div class="column is-8">
    <%= react_component('MainCourses2', {degree_course_id: params['degree_course_id']}) %>
  </div>
  <div class="column"></div>
</div>
<br>
<div class="columns">
  <div class="column">
    <div style="margin: 0 auto; width: 50%;">
      <a class="button is-rounded is-primary" href="/dashboard"><%= fa_icon "arrow-left" %>&nbsp;Torna alla
        dashboard</a>
    </div>
  </div>
  <div class="column"></div>
  <div class="column"></div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script type="text/javascript">
    function showInsert() {
        $("#insertDiv").css("display", "inline");
        scroll_to("insertDiv");
    }

    function scroll_to(id) {
        $('html,body').animate({
            scrollTop: $('#' + id).offset().top
        }, 'slow');
    }
</script>