<% content_for :title, "Gestisci tag collegati alla tesi" %>


<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%=  @thesis.title %>
      </h1>
      <h2 class="subtitle">
        In questa pagina puoi gestire i tag collegati alla tesi "<%=  @thesis.title %>".
      </h2>
    </div>
  </div>
</section>
<br>

<div class="columns">
  <div class="column"></div>
  <div class="column">
    <%= react_component('MainThesisTags',{thesis_id: params['thesis_id']}) %>
  </div>
  <div class="column"></div>
</div>
<div class="columns">
  <div class="column">
    <div style="margin: 0 auto; width: 50%;">
      <a class="button is-rounded is-primary" href="/dashboard"><%= fa_icon "arrow-left" %>&nbsp;Torna alla dashboard</a>
    </div>
  </div>
  <div class="column"></div>
  <div class="column"></div>
</div>
