<html>


  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <br/>
    <div align="center">
      <h2>Aiuta chi ha bisogno! </h2>
      <h3>Qui in elenco tutte le ripetizioni disponibili ;)</h3>
      <hr/>
    </div>



    <div class="myColumn-lg">
      <div class="row">
        <%= react_component 'IndexReps',  last_page: @last_page, url: "/reps.json", current_user_image: @current_user.image%>
      </div>


    </div>


  </body>



</html>
