<html>

  <body class="drawer drawer--left">
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <header role="banner">
      <button type="button" class="drawer-toggle drawer-hamburger top-gap">
        <span class="sr-only">toggle navigation</span>
        <span class="drawer-hamburger-icon"></span>
      </button>
      <nav class="drawer-nav top-gap" role="navigation">
        <ul class="drawer-menu top-gap">
          <li class="drawer-brand">Search</li>
          <%= react_component 'SearchRep', current_user: @current_user%>
        </ul>
      </nav>
    </header>
    <main role="main">


      <br/>

      <section class="hero is-info is-bold is-small bottom-gap">
        <div class="hero-body left-gap">
          <div class="container left-gap">
            <h2 class="title">
              Hey, hai bisogno di una mano?!
            </h2>
            <h3 class="subtitle">
              Qui in elenco tutte le ripetizioni disponibili ;)
            </h3>
          </div>
        </div>
      </section>


      <div class="myColumn-lg">
        <div class="row">
          <%= react_component 'IndexReps',  last_page: @last_page, url: "/reps.json?page=", current_user_image: @current_user_image, current_user: @current_user, allreps: @reps%>
        </div>
      </div>

    </main>



    <script>
      $(document).ready(function() {
        $('.drawer').drawer();
      });
    </script>

  </body>



</html>
