<br/>
<div align="center">
  <h2>Le tue notifiche</h2>
  <h2><%=  @last_page %></h2>
</div>

<div align="center">
  <%= react_component('MainNotifications', {last_page: @last_page, url: "/notifications.json?page="}) %>
</div>