<br/>
<br/>
<br/>
<br/>
<section class="hero is-small">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h3 class="title is-3">Le tue notifiche</h3>
    </div>
  </div>
</section>
<br/>


<div align="center">
  <%= react_component('MainNotifications', {last_page: @last_page, url: "/notifications.json?page="}) %>
</div>