

<% content_for :title, "Recupera password" %>

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container main-content">
      <div class="columns is-desktop is-vcentered">
        <div class="column"></div>
        <div class="column">
          <div class="box">
            <p class="title is-4"><strong>Dimenticato la password?</strong></p>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <p><small><strong>EMAIL</strong></small></p>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input is-medium", style: "border-radius: 15px;", required: true %>
              </div>

              <div class="actions">
                <%= f.submit "Invia", class: "button is-medium is-rounded submit-action is-fullwidth" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
</section>

<style>
  @media only screen and (max-width: 600px) {
    .box {
      height: 600px;
    }
  }
</style>

<script type="text/javascript">
    $("#closeButtonErrorDevise").on('click', function () {
        $("#errorsDevise").fadeOut();
    })

    setTimeout(function () {
        $("#errorsDevise").fadeOut();
    }, 5000)
</script>