class MainTheses2 extends React.Component {

    constructor(props) {
        super(props);

        this.state ={
            url: '',
            theses: '',
            page:1,
            disabledNext: '',
            message: ''
        };
        this.updateIndexTheses = this.updateIndexTheses.bind(this)
    }


    componentDidMount () {
        const script = document.createElement("script");

        script.src = "https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js";

        script.async = true;

        document.body.appendChild(script);
    }


    updateIndexTheses(u, ts){
        let disabled = false;
        let message = '';
        if (ts.length < this.props.last_page){
            disabled = true;
        }
        if (ts.length ===0){
            message = "Tesi non trovate!";
        }
        this.setState({url: u, theses: ts, page:1, disabledNext: disabled, message: message})
    }


    render(){
        return(

            <section>



                <div className="drawer-nav top-gap" role="navigation">
                    <ul className="drawer-menu top-gap">
                        <li className="drawer-brand">Search</li>


                        <SearchTheses current_user = {this.props.current_user}
                                      per_page={this.props.per_page}/>

                    </ul>
                </div>

            <main role="main">
                <br/>

                <div className="myColumn-lg">
                    <div className="row">
                        <IndexTheses  last_page={this.props.last_page} url={this.props.url}
                                      current_user_image={this.props.current_user_image} per_page={this.props.per_page}
                        />
                    </div>
                </div>
            </main>







    </section>







        )
    }

}