class DocumentFrame extends React.Component {
    constructor(props) {
        super(props);

        this.state = {
            document: this.props.document,
            view_doc: true
        };
    }

    render() {
        const { document } = this.state
        let can_delete_post = (document.user.id === current_user.id) ? true : false;

        if (this.state.view_doc)
          return (<div className="tile is-parent"><article className="tile is-child box">

                     { document.file_url ? <figure class="image image is-4by3"><a className="link-to-commets" href={ document.path } target="_blank">
                      <img src={ document.file_url } /> </a>
                     </figure> : '' }
                  { document.file_url ?<hr />: '' }


              <article class="media">
                  <div class="media-content">
                      <p className="resource-name"><strong> { document.filename } </strong></p>
                      <p className="content-date">{(new  Date(Date.parse(document.created_at))).toLocaleDateString('it-IT', options)}</p>
                      <p>#subtitle #cose</p>
                  </div>
                  <div class="media-right">
                      <DropMenu cancella={ this.deleteDocument.bind(this) } id={document.id} can_delete={can_delete_post} risorsa="file"/>
                  </div>
              </article>



          </article></div>)
        else
            return ''
    }

    deleteDocument(event, document_id) {
        event.preventDefault();
        if(this.state.document.user.id !== this.props.current_user.id)
            return;

        var myHeaders = new Headers();
        myHeaders.append('X-CSRF-Token', Rails.csrfToken());

        fetch(`/documents/${post_id}`, {
            method: 'DELETE',
            headers: myHeaders,
            credentials: 'same-origin'
        })
            .then((response) => response)
            .then((response) => {
                this.setState({
                    view_post: false
                })
            })
            .catch((error) => {
                console.error(error);
            });
    }
}