<html>


  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <br/>
    <div align="center">
      <h2>Tutti i corsi disponibili</h2>
    </div>



    <% form_tag(allcourses_path, :method => "get", id: "search-form", class:"search-form pull-right") do %>
      <div class="form-group">
        <% text_field_tag :search, params[:search], placeholder:"Search Courses in all pages", class:'form-control' %>
      </div>
      <% submit_tag "Search", :name => nil, class:'btn btn-primary' %>
    <%end%>


    <div>
      <%= react_component 'IndexCourses', last_page: @last_page%>
    </div>



  </body>



</html>
