<html>
  <body>
    <br/>
    <div align="center">
      <h2>Tutti i corsi disponibili</h2>
    </div>




    <div class="column is-12">
      <%= react_component 'Main'%>
    </div>






  </body>



</html>