<html>


  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <br/>
    <div align="center">
      <h2>Tutti i corsi disponibili</h2>
    </div>


    <div>
      <%= react_component 'Main'%>
    </div>


  <%= paginate @tcs %>


  </body>



</html>
