<html>


  <body>
    <br/>
    <div align="center">
      <h2>Tutti i corsi disponibili</h2>
    </div>

    <%= paginate @tcs %>

    <div>
      <%= react_component 'Main'%>
    </div>





  </body>



</html>