<% content_for :title, "Home" %>


<html>


  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <br/>
    <section class="hero is-info is-bold is-small bottom-gap">
      <div class="hero-body left-gap">
        <div class="container left-gap">
          <h2 class="title">
            I miei corsi
          </h2>
        </div>
      </div>
    </section>




    <div class="myColumn-lg">
      <div class="row">
        <%= react_component 'SearchItem2', tcs: @cs, categories: @categories, last_page: @last_page, url: "/mycourses.json", per_page: @per_page%>
      </div>
      <%= render partial: "/per_page", locals:  {path: mycourses_path, per_page: @per_page}%>

    </div>


  </body>



</html>
