<html>


  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <br/>
    <div align="center">
      <h2>I miei corsi</h2>
    </div>



    <div class="myColumn-lg">
      <div class="row">
        <%= react_component 'SearchItem2', tcs: @cs, categories: @categories, last_page: @last_page%>
      </div>


    </div>


  </body>



</html>
