<html>


  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <br/>
    <section class="hero is-info is-bold is-small">
      <div class="hero-body left-gap">
        <div class="container left-gap">
          <h2 class="title">
            I miei corsi
          </h2>
          <h3 class="subtitle">
            Qui vengono visualizzati solo i corsi che stai seguendo!
          </h3>
        </div>
      </div>
    </section>



    <div class="myColumn-lg">
      <div class="row">
        <%= react_component 'SearchItem2', tcs: @cs, categories: @categories, last_page: @last_page, url: "/mycourses.json"%>
      </div>


    </div>


  </body>



</html>
