
<html>


  <body>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>

    <br/>
    <div align="center">
      <h2>Seleziona il corso di studi per visualizzare tutti i corsi inerenti</h2>
    </div>



    <div class="myColumn-lg">
      <div class="row">
        <%= react_component 'Search_degree', degreeType: @degree %>
      </div>


    </div>


  </body>



</html>
