<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-48x48">
        <img style="border-radius:50%" src="https://bulma.io/images/placeholders/64x64.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <div class="columns is-mobile">
          <%= render 'content', post: post %>
          <%= render 'dropdownmenu', post: post %>
        </div>
        <p><%= post.message %></p>
        <div>
          <%= render 'allegati', post: post %>
        </div>


      </div>
      <nav class="level is-mobile">
          <a class="level-item comment" aria-label="comment">
            <span class="icon is-small">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M9,22A1,1 0 0,1 8,21V18H4A2,2 0 0,1 2,16V4C2,2.89 2.9,2 4,2H20A2,2 0 0,1 22,4V16A2,2 0 0,1 20,18H13.9L10.2,21.71C10,21.9 9.75,22 9.5,22V22H9M10,16V19.08L13.08,16H20V4H4V16H10Z" />
              </svg>
            </span>
            <span>Commenta</span>
          </a>
          <a class="level-item upvote" aria-label="like">
            <span class="icon is-small">
              <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                  <path fill="#000000" d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
              </svg>
            </span>
            <span>Upvote</span>
          </a>
      </nav>
    </div>
  </article>
</div>