@import "bulma";
@import "font-awesome";
@import "common/mixin";
@import "*";


html {
  background-image: url("bg5.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.is-vcentered {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.navbar {
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0 auto;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  height: 10%;
  border: 1px solid #e0e0e0;


  a {
    text-decoration: none;
    color: black;
  }

  figure {
    margin-right: 10px;
  }

  .access{
    margin: 0 5px 0 5px;
  }

  .title, .name{
    font-family: 'Domine', serif;
  }

  .nav-items {
    width: 100%;
  }
  @include lg {

    padding: 0 5% 0 5%;

    .access {
      font-size: 170%;
    }

    #app-name {
      font-size: 185%;
    }

  }
}



