// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.corso-thread {

  max-width: 1200px;
  position: relative;
  margin-top: 10vh;
  overflow: hidden;

  /**  STYLE 3 */

  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }

  #style-1::-webkit-scrollbar {
    width: 6px;
  }

  #style-1::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
  }

  .posts-list {
    overflow-y: scroll;
    height: 82vh;
    padding: 1px;
    /*-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    direction: rtl;

    .box{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      direction: ltr;
    }*/

    figure img {
      border-radius: 50%;
    }

    .comment, .upvote, .link-to-commets {
      text-decoration: none;
      color: black;
      span {
        margin-right: 5px;
      }
    }

    .link-to-commets {
      color: #999999;
    }
  }

  .new-post {
    margin-top: 10px;

    .message-input {
      width: 100%;
    }

    /*@include md {
      position: absolute;
      top: 50px;


    }*/
  }

  .comment-form {
    width: 100%;
    @include md {
      textarea, buntton {
        font-size: 170%;
      }
    }
  }

  @include md {
    font-size: 170%;
    .is-medium {
      font-size: 180%;
    }
  }
}