// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.corso-thread {

  max-width: 1200px;
  margin-top: 8%;

  @include lg {
      margin-top: 20%;
  }

  figure img{
    border-radius: 50%;
  }

  .comment, .upvote, .link-to-commets {
     text-decoration: none;
     color: black;
     span {
       margin-right: 5px;
     }
  }

  .link-to-commets {
    color: #999999;
  }

}