// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.corso-thread {
  /* General style */
  max-width: 1200px;
  position: relative;
  margin-top: 7vh;
  overflow: hidden;
  line-height: normal;

  @include sm {
    margin-top: 9vh;
  }

  .tabs {
    margin-bottom: 0;
    @include md {
      font-size: 110%;
    }
  }

  /**  STYLE 1 */
  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  }
  #style-1::-webkit-scrollbar {
    width: 6px;
  }
  #style-1::-webkit-scrollbar-thumb {
    background-color: #9e9e9e;
  }

  figure img {
    border-radius: 50%;
  }


  /* Lista Posts style */
  .posts-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 89vh;
    padding: 1px;


    .comment, .upvote, .link-to-commets {
      text-decoration: none;
      color: black;
      span {
        margin-right: 5px;
      }
    }

    .link-to-commets {
      color: #999999;
    }
    .drop-menu {
      cursor: pointer;
      i {
        color: #999999;
      }
    }

    .content-author {
      margin: 0;
    }
    .content-date {
      font-size: 85%;
      color: #999999;
    }
    .upvote-button {
      font-size: 85%;
    }
  }


  .modal-card {

    .message-input {
      width: 100%;
    }

    .submit-button {
      width: 100%;
      margin-top: 10px;
    }
  }

  .comment-form {
    width: 100%;
  }

}

.add-post {
  position: absolute;
  cursor: pointer;
  bottom: 5vh;
  right: 13vw;
  @include sm {
    img {
      height: 55px;
      width: 55px;
    }
    right: 3vw;
    bottom: 3vh;
  }
  @include md {
    right: 4vw;
    bottom: 4vh;
  }
  @include lg {
    right: 10vw;
    bottom: 4vh;
  }
  @include xl {
    right: 18vw;
    bottom: 5vh;
  }
}












/*-webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    direction: rtl;

    .box{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      direction: ltr;
    }*/