th.question-text-column {
  width: 64%;
}

th.frequency-column {
  width: 20%;
}

th.details-column {
  width: 30%;
}

td.new-question-text {
  width: 50%;
}

td.new-question-button {
  width: 20%;
}
@include custom-range(1200,2000) {
  td.question_text_column_desktop {
    max-width: 250px;
    word-wrap: break-word;
  }
}

@include custom-range(319, 1199) {
  td.question_text_column_desktop {
    max-width: 1000px;
    word-wrap: break-word;
  }
}
