

.resources-thread {
  /* General style */
  max-width: 1200px;
  position: relative;
  margin-top: 7vh;
  overflow: hidden;
  line-height: normal;

  @include sm {
    margin-top: 9vh;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  .tabs {
    margin-bottom: 0;
    overflow-x: scroll;
    @include md {
      font-size: 110%;
    }

  }

  /**  STYLE 1 */
  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  #style-1::-webkit-scrollbar {
    width: 6px;
  }
  #style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9e9e9e;
  }

  .level {
    margin: 5px 10px;
    #search-input {
      width: 40vw;
    }
    a {
      text-decoration: none;
      color: black;
      margin-right: 5px;

    }
  }

  .tag-field {
    margin-top: 15px;
  }

  .tag-search {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    .button {
      cursor: pointer;
    }
    .tag-list {
      position: absolute;
      top: 34px;
      z-index: 999;
      width: 50%;
      padding: 0;
      ul {
        list-style-type: none;
        margin: 0;
      }
      overflow: auto;
      height: 100px;
    }
    i {
      cursor: pointer;
    }
    #new-tag {
      cursor: pointer;
    }
  }

  /* Lista Posts style */
  .resources-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 82vh;
    @include rwd(767) {
      height: 77vh;
    }
    @include custom-range(768, 1088) {
    }
    @include custom-range(1089, 1200) {
    }
    @include custom-range(1201, 1600) {
    }

    padding: 3px 4px 0px 1px;

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(12vw, 1fr));
      @include rwd(575) {
        grid-template-columns: repeat(auto-fill, minmax(90vw, 1fr));
      }
      @include custom-range(576, 767) {
        grid-template-columns: repeat(auto-fill, minmax(47vw, 1fr));
      }
      @include custom-range(768, 1088) {
        grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
      }
      @include custom-range(1089, 1200) {
        grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
      }
      @include custom-range(1201, 1600) {
        grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
      }
      /*margin: auto;
       max-width: 960px;
      width: 50%;*/

      .box {
        margin-bottom: 0.8rem;
        padding: 0;
      }
    }

    .container__item {
      display: flex;
      flex-basis: 1;
      align-content: center;
      justify-self: center;
      justify-content: center;
      margin: 0.4rem;

      flex-direction: column;
      overflow: hidden;

      // maintain aspect ratio
      width: 12vw;
      height: 12vw;
      @include rwd(575) {
        width: 80vw;
        height: 80vw;
      }
      @include custom-range(576, 767) {
        width: 47vw;
        height: 47vw;
      }
      @include custom-range(768, 1088) {
        width: 28vw;
        height: 28vw;
      }
      @include custom-range(1089, 1200) {
        width: 25vw;
        height: 25vw;
      }
      @include custom-range(1201, 1600) {
        width: 15vw;
        height: 15vw;
      }

      .doc-info {
        padding: 0 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        .media {
          margin-bottom: 10px;
          .media-content {
            width: 80%;
          }
          .truncate {
            width: 100%;
            color: #424242;
          }

          .media-right {
            i {
              cursor: pointer;
            }
          }
        }
        .tag-content {
          display: flex;
          flex-direction: row;
          overflow-x: scroll;
          padding-bottom: 3px;
          font-size: 70%;
        }

        #style-1::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #bdbdbd;
        }
      }

      .thumbnail {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 90%;
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 100%;
          width: auto;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        img.portrait {
          width: 100%;
          height: auto;
        }
      }

      .box {
        padding: 20px;
        font-size: 120%;
        .is-two-fifths {
          text-align: right;
        }
        .column {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }

    }

  }

  .add-button {
    position: absolute;
    cursor: pointer;
    bottom: 3vh;
    right: 4vw;
    @include sm {
      img {
        height: 55px;
        width: 55px;
      }
    }
  }
}