<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Send email to <%= @user_email %></h1>
    <p>
      Course name is: <%= @course_name%>
      your content is: <%= @content %>.<br>
    </p>
    <p>
      To watch your rep, please visit the page at: <%= link_to "/reps"%>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>